@media print {
  * {
      -webkit-print-color-adjust: exact !important; /* Ensures colors are printed */
      print-color-adjust: exact !important;
    }
  
  
  .logo-img {
    margin-left: 0 !important;
    margin-right: 40px !important;
    width: 250px !important;
    height: 250px !important;
  }
  .print-img {
    width: 140px !important;
  }

  .logo-img1 {
    width: 250px;
    height: 150px;
  }
  .logo-img2 {
    width: 170px;
    height: 110px;
  }
  .print-img1 {
    width: 140px !important;
    height: 140px !important;
    margin-bottom: 32px;
  }
  .ul-item {
    font-size: 18px !important;
  }
  .hr-line {
    margin: 30px 0 !important;
    width: 60% !important;
    
  }
  .hr-line1 {
    margin-top: 150px !important;
    width: 40% !important;
  }
  .hr-line2 {
    margin: 14px 0 !important;
    width: 60% !important;
    border-top: 2px solid #0f4c7f;
  }

  .hr-line3{
    margin: 20px 0 !important;
    width: 60% !important;
  }

  .table-header1 th {
    font-size: 0.9rem;
    font-weight: 500;
    print-color-adjust: exact;
    
  }

  .table-header1 td {
    font-size: 0.9rem;
    print-color-adjust: exact;
  }

  .table-header-page9 th{
    font-size: 1rem !important;
    print-color-adjust: exact;
  }

  .table-header-page9 td{
    font-size: 1rem !important;
    print-color-adjust: exact;
  }

  .box-img img{
    height: 80px;
    width: 80px;
  }

  .table-header-Summary th{
    font-size: 1.1rem !important;
  }
}

/* styles.css */

.table-header {
  width: 100%;
  border-collapse: collapse !important; /* Ensures proper table structure */
  table-layout: auto;
  border: 1px solid #dee2e6 !important;
}

.table-header th {
  vertical-align: middle !important; /* Corrected */
  font-size: 1rem !important;
  font-weight: bold;
  background-color: #0f4c7f !important;
  color: #95aac9 !important;
  font-family: serif !important;
  text-align: center !important;
  border: 1px solid #dee2e6 !important; /* Ensures text is centered */
}

.table-header td {
  vertical-align: middle !important; /* Corrected */
  font-size: 0.8rem !important;
  font-family: sans-serif !important;
  text-align: center !important;
  border: 1px solid #dee2e6 !important; /* Ensures text is centered */
}

/* Styling of table other than reference and civil work table */

.table-header1 {
  width: 100%;
  border-collapse: collapse; /* Ensures proper table structure */
  table-layout: auto;
  border: 1px solid #dee2e6 !important;
  margin-top: 5px;
}

.table-header1 th {
  vertical-align: middle !important; /* Corrected */
  font-size: 1.2rem !important;
  font-weight: 700;
  background-color: #0f4c7f !important;
  color: #95aac9 !important;
  font-family: serif !important;
  text-align: center !important;
  border: 1px solid #dee2e6 !important; /* Ensures text is centered */
  text-transform: uppercase;
}

.table-header1 td {
  vertical-align: middle !important; /* Corrected */
  font-size: 1.2rem;
  font-family: serif !important;
  text-align: center !important;
  border: 1px solid #dee2e6 !important; /* Ensures text is centered */
  font-weight: 500;
  padding: 1px !important;
}

/* Styling of Commercial offer page 9 */

.table-header-page9 {
  width: 100%;
  border-collapse: collapse; /* Ensures proper table structure */
  table-layout: auto;
  border: 1px solid #dee2e6 !important;
  margin-top: 5px;
}

.table-header-page9 th {
  vertical-align: middle !important; /* Corrected */
  font-size: 1.2rem;
  font-weight: 700;
  background-color: #0f4c7f !important;
  color: #95aac9 !important;
  font-family: serif !important;
  text-align: center !important;
  border: 1px solid #dee2e6 !important; /* Ensures text is centered */
  text-transform: uppercase;
  padding: 8px !important;
}

.table-header-page9 td {
  vertical-align: middle !important; /* Corrected */
  font-size: 1.2rem;
  font-family: serif !important;
  text-align: center !important;
  border: 1px solid #dee2e6 !important; /* Ensures text is centered */
  font-weight: 500;
  padding: 8px !important;
}

/* CSS For Summary Page */

.table-header-Summary {
  width: 100%;
  border-collapse: collapse !important; /* Ensures proper table structure */
  table-layout: auto;
  border: 1px solid black !important;
}

.table-header-Summary th {
  vertical-align: middle !important; /* Corrected */
  font-size: 1rem !important;
  font-weight: bold;
  color: black !important;
  font-family: serif !important;
  text-align: center !important;
  border: 1px solid black !important; /* Ensures text is centered */
  padding: 0px !important;
}

.table-header-Summary td {
  vertical-align: middle !important;
  font-size: 0.8rem ;
  font-family: sans-serif !important;
  text-align: center !important;
  border: 1px solid black !important; 
  padding: 1px !important;
}


